  <section data-id="{{timer.id}}">
      <div class="container">
        <div id={{timer.id}} class="pomodoro-timer">
          <div class="time">
            <span class="minutes">
              {{#if timer.minutes}}
              {{zero timer.minutes}}
              {{else}}
              00
              {{/if}}
            </span>
            <span class="colon">:</span>
            <span class="seconds">
              {{#if timer.seconds}}
              {{zero timer.seconds}}
              {{else}}
              00
              {{/if}}
            </span>
          </div>
        </div>
          <!-- <form data-id='{{timer.id}}' class='updateTimer'>
            <input type="text" name="timer[task_name]" placeholder="Enter Task Name">
            <input type="text" name="timer[minutes]" placeholder="minutes">
            <input type="text" class="seconds" name="timer[seconds]" placeholder="seconds">
            <input type="submit" placeholder="Update Timer" value="Update">
          </form> -->
        <button data-id='{{timer.id}}' class='start-button'>Start</button>
        <button data-id='{{timer.id}}' class='reset-button'>Reset</button>
        <button data-id='{{timer.id}}' class='pause-button'>Pause</button>
        <button data-id='{{timer.id}}' class='resume-button'>Resume</button>
        <button data-id='{{timer.id}}' class='delete-button'>Remove</button>
        <button data-id='{{timer.id}}' class='update-button' data-toggle='modal' data-target="#updateModal">Update</button>
      </div>
  </section>
